dataset/images/
dataset/masks/
dataset/negative_samples/
classification_dataset/images/
classification_dataset/negative_samples/
classification_dataset/masks/

dataset_classification/images/
dataset_classification/masks/
dataset_classification/negative_samples/

coco_classification/annotations/
coco_classification/train2017/
coco_classification/val2017/


dataset-t/
output/
coco/
weights/
*.onnx
polyp_detector_ep1.onnx
**.py[cod]
**/__pycache__
.venv/
.env